.hero_rap {
	width: 100%;
	display: block;
	background: $green;
	overflow: hidden;
	border-bottom: 1px solid #888;

	img {
		width: 90%;
		max-width: 650px;
		margin: 10% auto;
		display: block;
	} // img
} // hero rap